asyncua==1.1.0
bcrypt==3.1.6
colorama==0.3.7
deepdiff==6.2.1
mysql-connector-python==8.0.29
netifaces==0.11.0
numpy==1.26.4
opcua==0.98.13
paramiko==2.12.0
psutil==5.5.1
python-dotenv==0.21.1
requests==2.21.0
responses==0.9.0
transitions==0.9.0
urllib3==1.24.1
watchdog==4.0.1
ipython==8.26.0