[Unit]
Description=VarioboticOS startup Service
After=network-online.target

[Service]
Type=idle
ExecStart=/bin/bash -c 'sleep 10 && source venv_vOS/bin/activate && python3 -u exec.py'
WorkingDirectory=/home/pi/VarioboticOS
User=pi

[Install]
WantedBy=multi-user.target